<!-- LOADER -->
<div id="loader-wrapper" #loaderWrapper>
  <div id="loader-container">
    <div class="stick"></div>
    <div class="stick"></div>
    <div class="stick"></div>
    <div class="stick"></div>
    <div class="stick"></div>
    <div class="stick"></div>
    <div class="loader-titel" translate>Loading...</div>
  </div>
</div>

<div id="content-wrapper">
  <div class="block coming-soon-style3" id="home">
    <audio autoplay>
      <source src="assets/mp3/owl.mp3" type="audio/mpeg">
    </audio>

    <div class="container">
      <div class="row col-table">
        <div class="col-md-6 col-td cold-left">
          <img class="city-1" src="/assets/img/style-2/city-1.png" alt=""/>
          <img class="city-2" src="/assets/img/style-2/city-2.png" alt=""/>
          <span class="window-1"></span>
          <span class="window-2"></span>
          <article class="margin-top-50 cold-left-top" [hidden]="subscribed">
            <h1 class="h1" translate>Coming soon</h1>
            <h2 class="h2" translate>our website in under construction</h2>
          </article>
          <div class="date margin-top-30" [hidden]="subscribed">
            <div class="clock"></div>
	          <div class="message"></div>
            <form id="contacts_form" class="margin-top-50">
              <input type="text" id="mail" name="email" placeholder="{{ 'Enter your email' | translate }}" value="" [formControl]="emailForm.controls.email" #email/>
              <div class="submit-button"><input type="submit" value="{{ 'Subscribe' | translate }}" (click)="subscribe()" [disabled]="emailForm.controls.email.invalid"/></div>
              <div class="extra-small margin-top-20" translate>
                {{ 'By clicking' | translate}} [{{ 'Subscribe' | translate }}] {{ 'I agree to' | translate }} <a href="/terms-of-service" translate>Terms of Service</a> and <a href="/privacy-policy" translate>Privacy Policy</a></div>
            </form>
          </div>
          <br/>
          <article class="margin-top-20" [hidden]="!subscribed">
            <h2 class="h2 margin-top-10" style="text-align:left" translate>What we offer</h2>
            <h6 class="h7 margin-top-10" translate>We're offering <a href='https://uk.wikipedia.org/wiki/%D0%A2%D0%B5%D0%BC%D0%BD%D0%B0_%D0%BC%D0%B5%D1%80%D0%B5%D0%B6%D0%B0'>DarkWeb</a> {{ 'We discover' | translate }}</h6>
          </article>

          <article class="margin-top-10" [hidden]="!subscribed">
            <h2 class="h2 margin-top-10" style="text-align:left" translate>Get discount now</h2>
            <h6 class="h7 margin-top-10" translate>We believe that</h6>
            <h2 class="h2 margin-top-10" style="text-align:left" translate>Simple steps</h2>
            <input class="margin-top-10 nice-btn" type="button" (click)="notify()" value="{{ 'Notify affected users' | translate }}"/>
            <form class="margin-top-10" method="POST" accept-charset="utf-8" action="https://www.liqpay.ua/api/3/checkout" ngNoForm>
	            <input type="hidden" name="data" value="eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJzdWJzY3JpYmUiLCJwdWJsaWNfa2V5IjoiaTEyNjY3MzUxMDM4IiwiYW1vdW50IjoiMzc1IiwiY3VycmVuY3kiOiJVQUgiLCJkZXNjcmlwdGlvbiI6ItCg0ZbRh9C90LAg0L/RltC00L/QuNGB0LrQsCDQvdCwINGB0LXRgNCy0ZbRgSDQvdC+0YLQuNGE0ZbQutCw0YbRltC5IiwidHlwZSI6ImJ1eSIsImxhbmd1YWdlIjoicnUiLCJzdWJzY3JpYmUiOjEsInN1YnNjcmliZV9kYXRlX3N0YXJ0Ijoibm93Iiwic3Vic2NyaWJlX3BlcmlvZGljaXR5IjoieWVhciJ9" />
	            <input type="hidden" name="signature" value="W/RAbxuz2x60e+6vlQ9PAuHBVzM=" />
	            <button class="nice-btn" onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
		            <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
			               style="margin-right: 7px !important; vertical-align: middle !important;"/>
		            <span style="vertical-align:middle; !important" translate>Pay with LiqPay</span>
	            </button>
            </form>
          </article>
        </div>
        <div class="col-md-6 col-td cold-right" style="pointer-events: none;">
          <div class="tree-wrap" style="pointer-events: none;">
            <img class="moon" src="/assets/img/style-2/moon.png" alt=""/>
            <img class="tree" src="/assets/img/style-2/tree.png" alt=""/>
            <img class="tree-1" src="/assets/img/style-2/tree-1.png" alt=""/>
            <img class="tree-2" src="/assets/img/style-2/tree-2.png" alt=""/>
            <div class="owl-wrap">
              <img class="wing" src="/assets/img/style-2/wing.png" alt=""/>
              <img class="wing second" src="/assets/img/style-2/wing-1.png" alt=""/>
              <img class="owl" src="/assets/img/style-2/owl.png" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container margin-bottom-40">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-linck" translate>
              Email: <a href="mailto:{{ 'EMAIL_ADDRESS' | translate }}"><span translate>EMAIL_ADDRESS</span></a>
            </div>
            <div class="footer-linck" translate>
              Contact us: <a href="tel:{{ 'PHONE_NUMBER' | translate }}"><span translate>PHONE_NUMBER</span></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="follow-us">
              <div class="titel" translate>
                Follow Us
              </div>
              <!-- <a class="thumbs" href="#"><i class="fa fa-pinterest-p"></i></a> -->
              <a class="thumbs" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
              <a class="thumbs" href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
              <!-- <a class="thumbs" href="#"><i class="fa fa-google-plus"></i></a> -->
              <a class="thumbs" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<div class="promo-slide-background" style="background-image: url(assets/img/bg-1.jpg);">
  <div class="block promo-slide background-shadow light-text" id="about-us">

    <div class="container">
      <div class="cell-view">
        <div class="article-header">
          <article class="simple-article">
            <h1 translate>About Us</h1>
            <h4 translate>SOFTSKY been founded in 1999 slowly moving into Internet Security and Internet Safety field</h4>
          </article>
        </div>
        <div class="about-wrapper">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="about-entry">
                <div class="icon" style="background-color: #00b1cb;">
                  <i class="fa fa-fire"></i>
                </div>
                <div class="content">
                  <div class="simple-article">
                    <h5><b translate>Why security is important on Internet</b></h5>
                    <p translate>Security is important due to</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="about-entry">
                <div class="icon" style="background-color: #da6bb0;">
                  <i class="fa fa-flash"></i>
                </div>
                <div class="content">
                  <div class="simple-article">
                    <h5><b translate>What we offer</b></h5>
                    <p translate>We're offering <a href='https://uk.wikipedia.org/wiki/%D0%A2%D0%B5%D0%BC%D0%BD%D0%B0_%D0%BC%D0%B5%D1%80%D0%B5%D0%B6%D0%B0'>DarkWeb</a> {{ 'We discover' | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear hidden-md hidden-lg"></div>
            <div class="col-sm-6 col-md-4">
              <div class="about-entry">
                <div class="icon" style="background-color: #ee5036;">
                  <i class="fa fa-puzzle-piece"></i>
                </div>
                <div class="content">
                  <div class="simple-article">
                    <h5><b translate>Our beliefs</b></h5>
                    <p translate>We believe that</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear hidden-sm"></div>
            <!-- <div class="col-sm-6 col-md-4"> -->
            <!--   <div class="about-entry"> -->
            <!--     <div class="icon" style="background-color: #bfbf00;"> -->
            <!--       <i class="fa fa-pinterest-p"></i> -->
            <!--     </div> -->
            <!--     <div class="content"> -->
            <!--       <div class="simple-article"> -->
            <!--         <h5><b translate>Lorem Ipsum Dollor</b></h5> -->
            <!--         <p translate>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</p> -->
            <!--       </div> -->
            <!--     </div> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="clear hidden-md hidden-lg"></div> -->
            <!-- <div class="col-sm-6 col-md-4"> -->
            <!--   <div class="about-entry"> -->
            <!--     <div class="icon" style="background-color: #41adf0;"> -->
            <!--       <i class="fa fa-soundcloud"></i> -->
            <!--     </div> -->
            <!--     <div class="content"> -->
            <!--       <div class="simple-article"> -->
            <!--         <h5><b translate>Lorem Ipsum Dollor</b></h5> -->
            <!--         <p translate>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</p> -->
            <!--       </div> -->
            <!--     </div> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="col-sm-6 col-md-4"> -->
            <!--   <div class="about-entry"> -->
            <!--     <div class="icon" style="background-color: #2cbd69;"> -->
            <!--       <i class="fa fa-wikipedia-w"></i> -->
            <!--     </div> -->
            <!--     <div class="content"> -->
            <!--       <div class="simple-article"> -->
            <!--         <h5><b translate>Lorem Ipsum Dollor</b></h5> -->
            <!--         <p translate>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</p> -->
            <!--       </div> -->
            <!--     </div> -->
            <!--   </div> -->
            <!-- </div> -->
            <div class="clear hidden-md hidden-lg"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="block promo-slide light-text coming-soon-style2" id="contact-us">

  <div class="container">
    <div class="cell-view">
      <div class="article-header">
        <article class="simple-article">
          <h1 translate>Contact Us</h1>
          <h4 translate>We would be glad to get in touch with you</h4>
        </article>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-b30">
          <div class="text-center">
            <div class="contact-title" translate>Contact Us Today</div>
            <br/>
            <a class="contact-mail" href="mailto:{{'EMAIL_ADDRESS' | translate}}"><span>EMAIL_ADDRESS</span></a>
            <br/>
            <a class="contact-phone" href="tel:{{'PHONE_NUMBER' | translate}}"><span translate>PHONE_NUMBER</span></a>
            <div class="contact-icons">
              <a href="#" style="background: #d44132;"><i class="fa fa-google-plus"></i></a>
              <a href="#" style="background: #4a66a0;"><i class="fa fa-facebook"></i></a>
              <a href="#" style="background: #6caddf;"><i class="fa fa-twitter"></i></a>
              <a href="#" style="background: #00b1f0;"><i class="fa fa-skype"></i></a>
              <a href="#" style="background: #cb2027;"><i class="fa fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <div class="contact-title text-left" translate>Have a Question?</div>
          <form class="contact-form" method="post">
            <div class="fields-wrapper">
              <div class="simple-input">
                <label translate>Name*</label>
                <input name="name" type="text">
              </div>
              <div class="simple-input">
                <label translate>Email*</label>
                <input name="email" type="text">
              </div>
              <div class="simple-input">
                <label translate>Subject</label>
                <input name="subject" type="text">
              </div>
              <div class="simple-input">
                <label translate>Message*</label>
                <textarea name="text"></textarea>
              </div>
            </div>
            <div class="fields-button-wrapper">
              <div class="button" translate>send message<input type="submit"></div>
            </div>
            <div class="clear"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map">
  <div id="map-canvas" data-lat="43.653226" data-lng="-107.383184" data-zoom="5" data-style="style-3">

  </div>
  <div class="addresses-block">
    <a data-lat="43.653226" data-lng="-107.383184" data-string="1. Here is some address or email or phone or something else..."></a>
    <a data-lat="57.653226" data-lng="-77.383184" data-string="2. Here is some address or email or phone or something else..."></a>
  </div>
</div>

<header>
  <nav>
    <a href="#home" class="anchor-scroll active"><i class="fa fa-home"></i><span><span translate>Home</span></span></a>
    <a href="#about-us" class="anchor-scroll"><i class="fa fa-info"></i><span><span translate>About</span></span></a>
    <a href="#contact-us" class="anchor-scroll"><i class="fa fa-envelope-o"></i><span translate><span>Contact</span></span></a>
    <a href="#map" class="anchor-scroll"><i class="fa fa-globe"></i><span><span translate>Map</span></span></a>
  </nav>
  <div class="menu-button">
    <div>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>

<div class="full-screen-popup light-text" id="thank-you-contact">
  <div class="close-layer"></div>
  <div class="simple-article center-align">
    <a class="close-button">+</a>
    <h1 translate>Thank You!</h1>
    <h4 translate>Your message was successfully sent.</h4>
    <p translate>Pellentesque dictum ut massa vitae rhoncus. Sed dapibus dolor eu semper dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec feugiat augue id augue euismod ullamcorper.</p>
  </div>
</div>

<div class="full-screen-popup light-text" id="thank-you-subscribe" [hidden]="!subscribed">
  <div class="close-layer"></div>
  <div class="simple-article center-align">
    <a class="close-button">+</a>
    <h1 translate>Thank You!</h1>
    <h4 translate>We will inform you about any updates, stay tuned!</h4>
    <p translate>Pellentesque dictum ut massa vitae rhoncus. Sed dapibus dolor eu semper dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec feugiat augue id augue euismod ullamcorper.</p>
  </div>
</div>
